@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

$principal: #26262A;
$secundario: #0EDCF8;

*{
    color: white;
    margin: 0px ;
    padding: 0px ;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: $principal;
    .bnav{
        border-top: 2px solid $secundario;
        background-color: #19181A;
    }
    .poppins{
        font-family: 'Poppins', sans-serif;
    }
    .roboto{
        font-family: 'Roboto', sans-serif;
    }
    .ptsans{
        font-family: 'PT Sans', sans-serif;
    }
    .barlow{
        font-family: 'Barlow', sans-serif;
    }
    .montserrat{
        font-family: 'Montserrat',sans-serif;
    }
    .top{
        background-color: #19181A;
    }
    .main{
        font-size: 70px;
    }

    .arctic{
        color: $secundario;
    }
    .harctic:hover{
        color: $secundario
    }
    .ccc{
        color: #CCCCCC;
    }
    .botonmain{
        border: solid 3px $secundario;
        font-family: 'Barlow', sans-serif;
        color: $secundario;
        font-weight: bold;
        outline: none;
    }
    .botonmain:hover{
        background-color: $secundario;
        cursor: pointer;
        color: $principal;
        font-weight: bold;
    }
    .aboutme{
    }
    .projects{
    }
    .arcborder{
        border: solid 3px $secundario;
    }
    .bordershadow{
        box-shadow: 0px 0px 500px 0px black;
    }

    .iconoportfolio{
        width: 500px;
        height: 400px;
    }

    #projects{
        font-family: 'Montserrat',sans-serif;
        font-size: 15px;
        h2{
            font-family: 'Dancing Script',cursive;
            font-size: 40px;
        }
        h4{
            font-family: 'Poppins',sans-serif;
            font-size: 16px;
        }
        
        .project{
            border-bottom: 1px solid $secundario;
        }
        .totop{
            font-family: 'Barlow',sans-serif;
            font-size: 18px;
        }
        .allprojects{
            margin-top: -1rem;
        }
    }

    #skills{
        .tarjeta{
            height: 550px;
            width: 220px;
            background-color: #26262A;
            font-family: 'Montserrat',sans-serif;
            font-size: 20px;
            h4{
                font-family: 'Dancing Script',cursive;
                font-size: 40px;
            }
        }
    }
    #contactform{
        .formulario{
            border: 3px solid $secundario;
            width: 17rem;
        }

        .skillstotop{
            margin-top: -9rem;
            margin-left: 4rem;
        }
    }
    .totop{
        font-family: 'Barlow',sans-serif;
        font-size: 18px;
    }

    .skillstotop{
        margin-top: 95rem;
        margin-left: 2rem;
    }

    @media (min-width: 1024px) {
        .skillstotop{
            margin-top: - 8rem;
        }

        #contactform{
            .formulario{
                border: 3px solid $secundario;
                width: 31rem;
            }
            .skillstotop{
                margin-top: - 6rem;
                margin-left: 0rem;
            }
        }
    }
}
